extends ../layouts/application.pug

block header
  = t('views.users.editLabel')

block content
  +formFor()(action=`/users/${user.id}` method='post')
    +input(user, 'firstName', errors, t('views.users.new.firstName'))(type="text" placeholder=t('views.users.new.firstName'))
    +input(user, 'lastName', errors, t('views.users.new.lastName'))(type="text" placeholder=t('views.users.new.lastName'))
    +input(user, 'email', errors, t('views.users.new.email'))(type="text" placeholder=t('views.users.new.email'))
    +input(user, 'password', errors, t('views.users.new.password'))(type="password" placeholder=t('views.users.new.password'))
    input(name="_method" type="hidden" value="patch")
    +submit(user)(value=t('views.users.new.submit'))        