extends ../layouts/application.pug

block header
  = t('views.statuses.name')

block content
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.labelName')
          th= t('views.statuses.createdAt')
          th
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href='/statuses/' + status.id + '/edit')= t('views.statuses.edit')
                +buttonTo('/statuses/' + status.id, 'delete')(class="btn btn-danger" value=t('views.statuses.delete'))