doctype html
html(lang="ru")
  head
    title Hexlet Fastify Boilerplate
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      .container-fluid
        a.navbar-brand(href='/')= 'Менеджер задач'
        button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarToggleExternalContent")
          .container-fluid
            ul.navbar-nav.justify-content-end.w-100
              li.nav-item.me-auto
                a.nav-link(href='#')= 'Пользователи'
              li.nav-item
                a.nav-link(href='#')= 'Вход'
              li.nav-item
                a.nav-link(href='#')= 'Регистрация'
    .container.wrapper.flex-grow-1

      h1.display-4.fw-bold.mt-4
        block header
      block content

  footer.bg-dark.text-light
      .container.py-3
        p.lead.mb-0= '© Hexlet Ltd, 2021'